body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(./img/table.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    background-size: cover;
    color: #fff;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

h1 {
    color: goldenrod;
    font-size: 65px
}

p {
    font-size: 35px;    
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    font-weight: bold;
    height: 34px;
    border-radius: 2px;
    border: none;
    padding: 5px 0;
    margin-bottom: 2px;
    margin-top: 2px;
}